<style>

/* container */
.two-columns {
    display:flex;
    flex-wrap:wrap;
}

/* columns */
.two-columns > * {
    width:100%;
    padding:1rem;
    padding-top: 5em;
    padding-bottom: 4.1em;
}

/* tablet breakpoint */
@media (min-width:768px) {
    .two-columns > * {
        width:50%;
    }
}

.img {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 100%;
  height: auto;
}

/* Move the text up 25px */
.intro-blurb {
    padding-top: 60px;
}

</style>



<div class="two-columns" >

    <div>
        <picture class="img-container">
            <source srcset="headshot-600.webp" width="600px" height="899px" class="img" alt="Blake Ashley Jr. Headshot, man wearing a suit with a blurred city in the background">    
            <source srcset="headshot-600.jpg" width="600px" height="899px" class="img" alt="Blake Ashley Jr. Headshot, man wearing a suit with a blurred city in the background">
            <img class="img" src="headshot-600.jpg" width="600px" height="899px" alt="Blake Ashley Jr. Headshot, man wearing a suit with a blurred city in the background">
        </picture>
    </div>

    
    <div class="intro-blurb">
        <h1>I am Blake Ashley Jr.</h1>
        <p>Welcome to my personal website! 
            <br><br>
            I am a DevOps Engineer that has traditionally specialized in web applications (WebOps), specifically massive, complex, popular
            WordPress sites that should have been a static webpage (like this one.)
            <br><br>
            I am currently learning the Go programming language and loving it.
            <br><br>
            I spend my free time writing here, working on my homelab, training in Jiu-Jitsu, reading, or planning my next backpacking trip.
            <br><br>
            You can contact me at <a href="mailto:contact-a1j4jd@blake.ashleyjr.com">via email.</a>
        </p></div>

  </div> 

