<style>
    .newsletter-box {
        padding-top: 1em;
    }
    .newsletter-form {
        padding-left: 75px;
        padding-right: 75px;
        border-style: solid;
        border-radius: 2px;
        border-color: #FFA86A;
    }
    .newsletter-heading {
        text-align: center;
        padding-top: 0px;
        font-size: large;
        font-weight: bold;
    }
    .newsletter-info {
        text-align: center;
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: small;
    }

    .email-input {
        width: 95%;
        height: 45px;
    }

    .flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    button {
        margin-left: 20px !important;
        height: 45px !important;
    }

    @media (max-width: 768px) {
        .newsletter-form {
            padding-left: 10px;
            padding-right: 10px;
        }
        .email-input {
            width: 80%;
            height: 45px;
        }
        button {
            margin-left: 10px !important;
            height: 45px !important;
        }


}
</style>

<!-- /input-group -->
<div class="newsletter-box">
<form class="newsletter-form" action="https://formspree.io/f/mlekawbg" method="post">
    <p class="newsletter-heading">Subscribe to my newsletter</p>
    <div class="input-group flex">
        <input name="email" type="email" class="email-input" aria-label="Email address input">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Subscribe</button>
        </span>
      </div>
      <p class="newsletter-info"><i>No spam or sold emails. This is for blog posts and occasional updates.</i></p>
  </form>
</div>