<style>
    .newsletter-box {
        padding-top: 1em;
    }
    .newsletter-form {
        /* text-align: center; */
        /* padding-bottom: 25px; */
        padding-left: 75px;
        padding-right: 75px;
        border-style: solid;
        border-radius: 2px;
        border-color: #FFA86A;
    }
    .flex {
        display: flex;
        flex-direction: row;
    }
    .newsletter-heading {
        text-align: center;
        padding-top: 0px;
        font-size: large;
        font-weight: bold;
    }
    .newsletter-info {
        text-align: center;
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: small;
    }

    .email-input {
        width: 95%;
    }

    @media (max-width: 800px) {
    .input-group input {
        margin: 10px 0;
        width: 100%;
    }

    .input-group {
        flex-direction: column;
    }

    .input-group-btn {
        margin: 10px 0;
    }

    .btn {
        width: 100%;
    }
}
</style>

<!-- /input-group -->
<div class="newsletter-box">
<form class="newsletter-form" action="https://formspree.io/f/mlekawbg" method="post">
    <p class="newsletter-heading">Subscribe to my newsletter</p>
    <div class="input-group flex">
        <input name="email" type="email" class="email-input" size="40" height="10">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Subscribe</button>
        </span>
      </div>
      <p class="newsletter-info"><i>No spam or sold emails. This is for blog posts and occasional updates.</i></p>
  </form>
</div>