{{ $src := .Get "src" }}
{{ $alt := .Get "alt" }}
{{ $style := .Get "style" }}
{{ $class := .Get "class" }}
{{ $imgClass := .Get "imgClass" }}
{{ $position := .Get "position" | default "center" }}
{{ $caption := .Get "caption" }}
{{ $captionPosition := .Get "captionPosition" | default "center" }}
{{ $captionStyle := .Get "captionStyle" }}
{{ $pageResources := .Page.Resources }}
{{ $fallbackImg := "" }}

<figure class="{{ $position }} {{ $class }}">
  <picture>
    {{ range $ext := slice "avif" "webp" "jpg" "png" }}
      {{ $img := printf "%s.%s" $src $ext }}
      {{ $resource := $pageResources.GetMatch $img }}
      {{ if $resource }}
        {{ if eq $ext "avif" }}
          <source srcset="{{ $resource.RelPermalink }}" type="image/avif">
        {{ else if eq $ext "webp" }}
          <source srcset="{{ $resource.RelPermalink }}" type="image/webp">
        {{ else }}
          {{ $fallbackImg = $resource.RelPermalink }}
        {{ end }}
      {{ end }}
    {{ end }}
    {{ if $fallbackImg }}
      <img src="{{ $fallbackImg }}" alt="{{ $alt }}" style="{{ $style }}" class="{{ $imgClass }}" loading="lazy" />
    {{ else }}
      <!-- Fallback to original src -->
      <img src="{{ $src }}" alt="{{ $alt }}" style="{{ $style }}" class="{{ $imgClass }}" loading="lazy" />
    {{ end }}
  </picture>
  {{ if $caption }}
    <figcaption class="{{ $captionPosition }}" style="{{ $captionStyle }}">{{ $caption | safeHTML }}</figcaption>
  {{ end }}
</figure>
