<style>
    .newsletter-form {
        /* text-align: center; */
        padding: 25px;
        padding-left: 75px;
        padding-right: 75px;
        border-style: solid;
        border-radius: 2px;
        border-color: #FFA86A;
    }
    .flex {
        display: flex;
        flex-direction: row;
    }

    /* .input-group {
        display: inline-block;
    }

    .email-input {
        display: inline-block;
    }

    .btn {
        display: inline-block;
    } */
</style>

<!-- /input-group -->
  
<form class="newsletter-form" action="https://formspree.io/f/{form_id}" method="post">
    <h4 style="text-align: center;">Subscribe to my newsletter</h4>
    <!-- <label for="email">Your Email</label> -->
    <!-- <input name="Email" id="email" type="email"> -->
    <div class="input-group flex">
        <input name="email" type="email" class="email-input" size="40">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Subscribe</button>
        </span>
      </div>
    <!-- <button type="submit">Submit</button> -->
  </form>